@font-face {
  font-family: "Marlboro";
  src: url("fonts/Marlboro.ttf") format("truetype");
}

body {
    background-image: url("bg.jpg");
    background-color: #dbbf99; /* Previously rgb(255, 200, 170) */
    font-family: monospace;
    font-size: 1.5em;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
}

p {
    margin: 1.5em 0;
}

h2 {
    margin: 2em .5em 1.25em;
    border-bottom: .08em solid #333;
}

.container {
    text-align: center;
    max-width: 45em;
    margin: auto;
}

.pig-society-title {
    font-family: "Marlboro", monospace;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    margin: .7em 0 .2em;
}

.language-switcher {
    position: absolute;
    top: .25em;
    width: 100%;
    text-align: 100%;
    font-size: 1rem;
}

body {
    padding-top: .5em;
}

@media screen and (min-width: 42em) {
    body {
        padding-top: 0;
    }

    .language-switcher {
        right: .25em;
        width: auto;
    }
}

.language-switcher a {
    display: inline-block;
    padding: .5em;
}
/*
.language-switcher a::before {
    content: "› ";
}

.language-switcher a::after {
    content: " ‹";
}
*/

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    font-size: 1.25rem;
    border: 0.08em solid transparent;
    padding: .5em;
    margin: .25em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu-item > svg {
    margin-right: 0.3em;
}

.menu-item:active, .menu-item:focus {
    border-color: black;
}

.menu-item--current {
    color: #dbbf99;
    background-color: black;
}

.main-content {
    line-height: 1.5;
}


/* QUOTES */

.quote {
    position: relative;
    display: inline-block;
    padding: 1em 2em;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: .8em;
    transform: rotate(2deg) translateX(-2em);
}

.quote-container--right .quote {
    transform: rotate(-2deg) translateX(2em);
}

@media screen and (min-width: 42em) {
    .quote {
        width: 60%;
    }
}

.quote-container {
    margin: 1em 0;
}

.quote-container--left {
    text-align: left;
}

.quote-container--right {
    text-align: right;
}

.quote__contents {
    margin: 0;
    text-align: left;
    font-style: italic;
}

.quote__attribution {
    margin-top: .5em;
    text-align: right;
    font-size: .9em;
}

.quote::before, .quote::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1em;
    height: 1em;
    box-sizing: border-box;
}

.quote-container--right .quote::before,
.quote-container--right .quote::after {
    right: unset;
    left: 0;
}

.quote::before {
    background-image: url("bg.jpg");
}

.quote::after {
    border: .5em solid transparent;
    border-left-color: #eee;
    border-bottom-color: #eee;
}

.quote-container--right .quote::after {
    border-left-color: transparent;
    border-right-color: #eee;
    border-bottom-color: #eee;
}


/* RECORDINGS */

@media screen and (min-width: 50em) {
    .recording__cover {
        float: right;
    }

    .recording__tracks {
        text-align: left;
        font-style: italic;
    }
}

.recording {
    padding: 0 1em 2em;
    position: relative;
}

.recording::after {
    display: table;
    content: "";
    clear: both;
}

.recording__title {
    text-align: left;
    margin: 2em 0 1.25em 0;
}

.recording__cover {
    width: 20em;
    max-width: 100%;
    height: auto;
    box-shadow: 0.1em 0.1em 0.2em #333;
}

.recording__tracks {
    padding: 0;
}

.recording__tracks > li {
    list-style: none;
}

.recording__link {
    border: .1em solid black;
    padding: .5em;
}


.recording__player {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 42px;
    margin: 1em auto;
    padding: 1em 0;
    border: none;
}

.coming-soon {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    background: black;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    transform: translate(-50%, -50%) rotate(-10deg);
}

/* Homepage */
.coming-soon-banner {
    color: white;
    background: black;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;
    transform: rotate(-2deg);
    display: block;
}


/* Tour dates */

.tour {
    list-style-type: none;
    padding: 0;
}

.tour-date {
    margin: 2em 0;
}

.tour-date__date {
    display: block;
    font-weight: bold;
    margin-bottom: .25em;
}

.tour-date__venue {
    font-style: italic;
}

.tour-date__link {
    display: block;
    font-size: .9em;
    text-decoration: underline;
}

/* Videos */

.video {
    display: inline-block;
    width: 405px;
    height: 227px;
    max-width: 100%;
}

/* Video link before iframe */

a.video {
    position: relative;
}

a.video::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 4em;
    height: 3em;
    background: #111;
    border-radius: 0.75em;
}

a.video::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 1.5em;
    height: 1.5em;
    box-sizing: border-box;
    /* Play button look-alike triangle */
    border-style: solid;
    border-color: transparent transparent transparent #dbbf99;
    border-width: .75em 0 .75em 1.5em;
}


/* Footer */

.footer {
    margin-top: 3em;
    border-top: .2rem dashed #333;
    padding: 1.5em;
}

.coming-soon {
    position: absolute;
    top: 45%;
    left: 50%;
    color: white;
    background: black;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
    transform: translate(-50%, -50%) rotate(-10deg);
}

.links, .links__link {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links__link {
    display: block;
    border: 2px solid #000;
    margin: 1em 0;
    padding: 1em;
}

.links__link:hover {
    background: #000;
    color: #dbbf99;
}

.button {
    border: .1em solid black;
    padding: .5em;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

.button::before {
    content: "› ";
}
.button::after {
    content: " ‹";
}
